@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex-display: flex) {
  display: $flex-display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}

@mixin font($font-size, $line-height: normal, $font-weight: normal, $font-family: 'Roboto', $letter-spacing: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
}
