#app {
  @include size(100%, 100%);
  min-height: 100vh;
  background-color: $white;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  @include flex(column);
  margin: 0 auto;
}

@media #{$desktop} {
  .wrapper {
    max-width: 1200px;
  }
}

@media #{$laptop} {
  .wrapper {
    max-width: 984px;
  }
}

@media #{$tablet} {
  .wrapper {
    max-width: 728px;
  }
}

@media #{$mobile} {
  .wrapper {
    max-width: 100%;
    min-width: 320px;
  }
}