$black: #000;
$blue-dark: #2E4190;
$blue: #246CCD;
$blue-light: #307DE3;
$white: #FFF;

$shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

$transition: all .5s ease;

$assets: '~@/assets/';

// @media #{$desktop} { Style }
$desktop: screen and (min-width: 1200px);
$laptop: (min-width: 1024px) and (max-width: 1199px);
$tablet: (min-width: 768px) and (max-width: 1023px);
$mobile: screen and (max-width: 767px);