.home {
  @include size(100%);
  @include flex(column);
  padding-top: 96px;

  &__banner {
    @include flex(column);
    align-items: flex-start;
    background: url($assets + 'images/background.png') no-repeat center top scroll;
    background-size: 100% auto;
    user-select: none;
  }

  &__button-services {
    color: $white;
    background-color: $blue;
    transition: $transition;

    &:hover {
      background-color: $blue-light;
    }

    &:active {
      background-color: $blue-dark;
    }
  }

  &__title {
    color: $blue;
  }

  &__description {
    @include font(14px, 24px);
    color: $black;

    &_wrapper {
      width: 338px;
      margin-bottom: 27px;
    }
  }
}

@media #{$desktop} {
  .home {
    &__banner {
      @include size(100%, 587px);
      padding: 81px 102px;
    }

    &__button-services {
      @include font(14px, 18px, 500);
      padding: 21px 49px;
    }

    &__title {
      @include font(42px, 48px);

      &_wrapper {
        width: 550px;
        margin-bottom: 20px;
      }
    }
  }
}

@media #{$laptop} {
  .home {
    &__banner {
      @include size(100%, 481px);
      padding: 63px 83px;
    }

    &__button-services {
      @include font(12px, 18px, 500);
      padding: 16px 47px;
    }

    &__title {
      @include font(36px, 42px);

      &_wrapper {
        width: 427px;
        margin-bottom: 20px;
      }
    }
  }
}

@media #{$tablet} {
  .home {
    &__banner {
      @include size(100%, 481px);
      background-image: url($assets + 'images/background-s.png');
      padding: 42px 83px;
    }

    &__button-services {
      padding: 16px 47px;
    }

    &__title {
      &_wrapper {
        margin-bottom: 16px;
      }
    }

    &__description {
      &_wrapper {
        margin-bottom: 25px;
      }
    }
  }
}

@media #{$mobile} {
  .home {
    padding-top: 66px;

    &__banner {
      @include size(100%, 263px);
      background-image: url($assets + 'images/background-xs.png');
      padding: 21px 20px;
    }

    &__button-services {
      padding: 14px 39px;
    }

    &__title {
      @include font(20px, 24px);

      &_wrapper {
        width: 250px;
        margin-bottom: 10px;
      }
    }

    &__description {
      @include font(10px, 16px);

      &_wrapper {
        width: 237px;
        margin-bottom: 16px;
      }
    }
  }
}
