.block-info {
  @include size(100%);
  z-index: 1;
  padding: 0 84px;

  &__wrapper {
    @include size(100%);
    @include flex(row, wrap);
    justify-content: space-between;
    background-color: $white;
    box-shadow: $shadow;
    padding: 50px 80px 40px;
  }

  &__block {
    width: calc(50% - 40px);
    @include flex();
    align-items: center;
  }

  &__icon {
    margin-right: 35px;
  }

  &__text {
    @include font(12px, 18px);
    color: $black;
    text-align: left;

    &_wrapper {
      width: 240px;
    }
  }
}

@media #{$desktop} {
  .block-info {
    margin: -75px auto 40px;

    &__block {
      @include flex();
      align-items: center;
    }
  }
}

@media #{$laptop} {
  .block-info {
    margin: -74px auto 38px;

    &__block {
      @include flex();
      align-items: center;
    }
  }
}

@media #{$tablet} {
  .block-info {
    padding: 0 83px;
    margin: -76px auto 32px;

    &__wrapper {
      padding: 50px 30px;
    }

    &__block {
      width: calc(50% - 30px);
      @include flex(column);
      align-items: center;
    }

    &__icon {
      margin-right: 0;
      margin-bottom: 28px;
    }

    &__text {
      text-align: center;

      &_wrapper {
        width: 220px;
      }
    }
  }

}

@media #{$mobile} {
  .block-info {
    padding: 0 20px;
    margin: -43px auto 34px;

    &__block {
      width: 100%;
      align-items: center;

      &:first-child {
        margin-bottom: 50px;
      }
    }

    &__text {
      &_wrapper {
        width: calc(100%);
      }
    }
  }
}
