.header {
  @include size(100%, 96px);
  @include flex();
  align-items: center;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 10;

  &__nav,
  &__links,
  &__feedback {
    @include flex();
    align-items: center;
  }

  &__nav {
    margin-right: auto;
  }

  &__link,
  &__tel {
    @include font(14px);
    color: $black;
  }

  &__link {
    border-bottom: 1px solid transparent;
    margin-right: 44px;

    &_logo {
      margin-top: -4px;
    }
  }

  &__tel {
    &-icon {
      margin-right: 8px;
      fill: $blue;
    }
  }

  &__button-write {
    @include font(12px, 18px);
    color: $blue;
    border: 1px solid $blue;
    padding: 8px 22px;
    background-color: transparent;
  }

  &__burger {
    &-menu {
      @include size(20px, 20px);
      position: relative;
      cursor: pointer;
      margin-left: 42px;

      &.active {
        .header__burger-line {
          background-color: transparent;

          &:before {
            width: 22px;
            transform: rotate(45deg);
            top: 0;
          }

          &:after {
            width: 22px;
            transform: rotate(-45deg);
            bottom: 0;
          }
        }
      }
    }

    &-line {
      @include size(100%, 2px);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -60%);
      background-color: $blue;
      transition: all .3s ease-in-out;

      &:before,
      &:after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        right: 0;
        background-color: $blue;
        transition: all .3s ease-in-out;
      }

      &:before {
        width: 14px;
        top: 8px;
      }

      &:after {
        width: 20px;
        bottom: 8px;
      }
    }
  }
}

@media #{$desktop} {
  .header {
    max-width: 1200px;

    &__burger-menu {
      display: none;
    }

    &__tel {
      margin-right: 60px;
    }
  }
}

@media #{$laptop} {
  .header {
    max-width: 984px;

    &__burger-menu {
      display: none;
    }

    &__tel {
      margin-right: 27px;
    }
  }
}

@media #{$tablet} {
  .header {
    max-width: 728px;

    &__link {
      margin-right: 0;
    }

    &__links {
      display: none;
      position: absolute;
      top: 99%;
      left: 0;
      border-top: 1px solid $blue;
      width: 100%;
      justify-content: space-around;
      background-color: $white;
      padding: 20px;
    }

    &__tel {
      margin-right: 25px;
    }

    &__burger-menu {
      display: block;
    }

    &.active {
      .header__links {
        display: flex;
      }
    }
  }
}

@media #{$mobile} {
  .header {
    max-width: 100%;
    min-width: 320px;
    height: 66px;
    padding: 0 20px;

    &__link {
      margin-right: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      color: $white;

      &_logo {
        margin-top: 0;
        margin-bottom: 0;

        svg {
          width: 150px !important;
        }
      }
    }

    &__links {
      height: calc(100vh - 65px);
      flex-direction: column;
      justify-content: flex-start;
      background-color: $blue;
    }

    &__feedback {
      flex-direction: column;
      margin-top: 42px;
    }

    &__tel {
      margin-right: 0;
      margin-bottom: 36px;
      color: $white;

      &-icon {
        fill: $white;
      }
    }

    &__button-write {
      width: 270px;
      padding: 15px 60px;
      border-color: $white;
      color: $white;
    }

    &__burger {
      &-menu {
        display: block;

        &.active {
          .header__burger-line {
            &:before,
            &:after {
             background-color: $white;
            }
          }
        }
      }
    }

    &.active {
      background-color: $blue;
    }
  }
}
