<template>
    <svg :viewBox="viewBox"
         :style="style">
        <use :xlink:href="`#${xlink}`"></use>
    </svg>
</template>

<script>
    export default {
        name: 'Icon',
        props: {
            viewBox: {
                required: false,
                default: `0 0 24 24`,
                type: String,
            },
            xlink: {
                type: String,
                required: true,

            },
            rotate: {
                type: [Number, String],
                required: false,
                default: 0
            }
        },
        computed: {
            style() {
                const array = this.viewBox.split(' ');
                const style = {
                    width: `${array[2]}px`,
                    height: `${array[3]}px`
                };

                if (this.rotate) {
                    style.transform = `rotate(${this.rotate}deg)`
                }

                return style;
            }
        }
    }
</script>
