<template>
    <div class="home">
        <div class="home__banner">
            <div class="home__title_wrapper">
                <h1 class="home__title">Высокоскоростной интернет на транспорте</h1>
            </div>
            <div class="home__description_wrapper">
                <p class="home__description">Мы обеспечиваем подвижные объекты доступом в сеть Интернет с помощью
                    специальной технологии
                    агрегации каналов связи</p>
            </div>
            <button class="home__button-services">Все сервисы</button>
        </div>
        <BlockInfo/>
    </div>
</template>

<script>
    import BlockInfo from "../components/BlockInfo";

    export default {
        name: 'home',
        components: {BlockInfo}
    }
</script>
