<template>
    <div class="not-found">
        <p class="not-found__tit">404</p>
        <p class="not-found__descr">Oops!</p>
    </div>
</template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style lang="scss">
    .not-found {
        height: 101vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__tit {
            font-size: 20vw;
            color: #2E4190;
        }

        &__descr {
            font-size: 10vw;
            color: #307DE3;
        }
    }
</style>