<template>
    <div class="block-info">
        <div class="block-info__wrapper">
            <div class="block-info__block" v-for="item in List" :key="item.id">
                <Icon class="block-info__icon" :xlink="item.url" :view-box="item.view"/>
                <div class="block-info__text_wrapper">
                    <p class="block-info__text">{{item.text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from "./Icon/index";

    export default {
        name: "BlockInfo",
        components: {Icon},
        data() {
            return {
                List: [
                    {
                        url: 'antenna',
                        view: '0 0 46 50',
                        text: 'РДЛ-Телеком разрабатывает и применяет it-решения в области предоставления услуг на транспорте'
                    },
                    {
                        url: 'phone',
                        view: '0 0 44 50',
                        text: 'Доступо в сеть Интернет с помощью специальной технологии агрегации каналов связи'
                    }
                ]
            }
        }
    }
</script>
