<template>
    <div class="header__feedback">
        <a class="header__tel" href="tel:7-499-963-80-83">
            <Icon class="header__tel-icon" xlink="tel" view-box="0 0 12 12"/>
            8-499-963-80-83
        </a>
        <button class="header__button-write">Написать</button>
    </div>
</template>

<script>
    import Icon from "./Icon";

    export default {
        name: "Feedback",
        components: {Icon}
    }
</script>
