<template>
    <header class="header" :class="isActive ? 'active' : ''">
        <nav class="header__nav">
            <router-link class="header__link header__link_logo" to="/">
                <Icon :xlink="xlink" view-box="0 0 156 25"/>
            </router-link>
            <div class="header__links">
                <router-link class="header__link" to="/about">О компании</router-link>
                <router-link class="header__link" to="/service">Сервис</router-link>
                <router-link class="header__link" to="/vacancies">Вакансии</router-link>
                <router-link class="header__link" to="/contacts">Контакты</router-link>
                <Feedback v-if="$viewport.type === 'mobile'"/>
            </div>
        </nav>
        <Feedback v-if="$viewport.type === 'desktop'"/>
        <div class="header__burger-menu" :class="isActive ? 'active' : ''" v-on:click="ToggleClass">
            <div class="header__burger-line"></div>
        </div>
    </header>
</template>

<script>
    import Icon from "./Icon/index";
    import Feedback from "./Feedback";

    export default {
        name: "Header",
        components: {Feedback, Icon},
        data() {
            return {
                isActive: false
            }
        },
        methods: {
            ToggleClass() {
                this.isActive = !this.isActive;

            }
        },
        computed: {
            xlink() {
                let string = '';
                if (this.$viewport.type === 'mobile' && this.isActive) {
                    string = 'logotype-white'
                } else if (this.$viewport.type === 'mobile') {
                    string = 'logotype-mini'
                } else if (this.$viewport.type === 'desktop') {
                    string = 'logotype'
                }
                return string
            }
        },
        watch: {
            $route() {
                this.isActive = false
            }
        }
    }
</script>