<template>
    <div id="app" v-on:resize="handleResize">
        <Sprite/>
        <div class="wrapper">
            <Header/>
            <router-view/>
        </div>
    </div>
</template>

<style lang="scss" typeof="text/scss">
    @import "assets/style/main.scss";
</style>

<script>
    import Sprite from "./components/Icon/Sprite";
    import Header from "./components/Header";

    export default {
        components: {Header, Sprite},
        mounted() {
            window.addEventListener('resize', this.handleResize); // при создании странички добавляю слушатель
            this.handleResize(); // после добавления сразу получаю размер странички
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize) // удаляю
        },
        methods: {
            handleResize() {
                this.$store.commit('SET_VIEWPORT', { // отправляю данные в хранилище
                    width: window.innerWidth, // ширину
                    height: window.innerHeight // высоту
                });
            }
        }
    }
</script>
